<h1 class="titulo">Lista de Filmes</h1>
<div class="item" *ngFor="let filme of filmes">
    <h1>{{filme.nome}}</h1>
    <p><span class="descricao">Ano:</span>&nbsp;<span>{{filme.ano}}</span></p>
    <p><span class="descricao">Diretor:</span>&nbsp;<span>{{filme.diretor}}</span></p>
    <p><span class="descricao">Gênero:</span>&nbsp;<span>{{filme.genero}}</span></p>
    <p><span class="descricao">Descrição:</span>&nbsp;<span>{{filme.descricao}}</span></p>
    <p><span class="descricao">Pôster:</span>&nbsp;<a href={{filme.poster}} target="_blank">{{filme.poster}}</a></p>
</div>