body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    to bottom,
    #333,
    #000
  ); /* Degrade de cores escuras */
  color: #fff; /* Cor do texto para contrastar com o fundo */
}
